@page "/Customer"
@using Microsoft.AspNetCore.Authorization

<PageTitle>Customer</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bold">Customer</h1>
            <p class="text-muted fs-6">In this page you can see all the information of the table Customer</p>
            <hr class="my-4" style="border-top: 1.5px solid black;">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="table-container" style="max-height: 400px; max-width: 100%; overflow-x: auto; overflow-y: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Customer ID</th>
                            <th>Account Number</th>
                            <th>rowguid</th>
                            <th>Modified Date</th>
                            <th>Territory ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in customer)
                        {
                            <tr>
                                <td>@category.CustomerID</td>
                                <td>@category.AccountNumber</td>
                                <td>@category.rowguid</td>
                                <td>@category.ModifiedDate</td>
                                <td>@category.TerritoryID</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
