@page "/ProductSubcategory"
@using Microsoft.AspNetCore.Authorization

<PageTitle>Product Subcategory</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bold">Product Subcategory</h1>
            <p class="text-muted fs-6">In this page you can see all the information of the table Product Subcategory</p>
            <hr class="my-4" style="border-top: 1.5px solid black;">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="table-container" style="max-height: 400px; overflow-y: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Subcategory ID</th>
                            <th>Name</th>
                            <th>rowguid</th>
                            <th>Modified Date</th>
                            <th>Product Category ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in searchProductSubcategoryResponses)
                        {
                            <tr>
                                <td>@category.ProductCategoryID</td>
                                <td>@category.Name</td>
                                <td>@category.rowguid</td>
                                <td>@category.ModifiedDate</td>
                                <td>@category.ProductCategoryID</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
