@page "/FirstSalesReport"
@using Microsoft.AspNetCore.Authorization
@using Syncfusion.HtmlConverter
@inject IJSRuntime JSRuntime

<PageTitle>First Sales Report</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="fw-bold">First Sales Report</h1>
            <p class="text-muted fs-6">In this page you can generate and download the first sales report</p>
            <hr class="my-4" style="border-top: 1.5px solid black;">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <button type="button" class="btn btn-success" @onclick="@GetAllTheInformationOfSalesReport">Generate sales report</button>
            <button type="button" class="btn btn-danger" @onclick="@GeneratePdf">PDF</button>
            <button type="button" class="btn btn-primary">CSV</button>
        </div>
        <div class="col-md-6 text-end">
            <select class="form-select form-select-sm" style="max-width: 80%; max-height: 65px;" @bind="filterBy.FilterID">
                <option value="" disabled selected hidden>Filter By</option>
                <option value="0">None</option>
                <option value="1">Product ID</option>
                <option value="2">Product Name</option>
                <option value="3">Product Category</option>
                <option value="4">Region</option>
            </select>
        </div>
        <br />
        <div class="col-md-8">
            <input type="text" class="form-control" style="max-height: 65px" @bind-value="filterBy.Value" placeholder="Write your filter value">
        </div>
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-primary" style="max-height: 65px; max-width: 90px;" @onclick="@GetAllTheInformationOfSalesReport">Send</button>
        </div>
        <br />
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="pdf-container" style="border: 1.5px solid black; overflow-y: auto; max-height: 400px; max-width: 700px; padding-left: 5px;" @ref="pdfContainer">
                <h3 class="text-center fw-bold fs-3">@Tittle</h3>
                <br />
                @foreach (var reportInfo in getSalesReportResponse)
                {
                    <p class="text-justify"><strong>Product ID: </strong>@reportInfo.ProductID</p>
                    <p class="text-justify"><strong>Product Name: </strong>@reportInfo.ProductName</p>
                    <p class="text-justify"><strong>Category Name: </strong>@reportInfo.CategoryName</p>
                    <p class="text-justify"><strong>Total Sales: </strong>@reportInfo.TotalSales</p>
                    <p class="text-justify"><strong>Region: </strong>@reportInfo.Region</p>
                    <p class="text-justify"><strong>Percentage Of Total Sales In Region: </strong>@reportInfo.PercentageOfTotalSalesInRegion</p>
                    <p class="text-justify"><strong>Percentage Of Total Category Sales In Region: </strong>@reportInfo.PercentageOfTotalCategorySalesInRegion</p>
                    <br />
                    <br />
                }
            </div>
        </div>
    </div>
</div>
